@import url('https://fonts.googleapis.com/css?family=Audiowide');

/*
#####################
##Przełączanie kart##
#####################
*/

.charsheet .sheet-main,
.charsheet .sheet-equipment,
.charsheet .sheet-details{
    display: none;
}

.charsheet .sheet-tabstoggle[value="main"] ~ div.sheet-main,
.charsheet .sheet-tabstoggle[value="equipment"] ~ div.sheet-equipment,
.charsheet .sheet-tabstoggle[value="details"] ~ div.sheet-details{
    display: block;
}

/*
#########################
##Wygląd szablonu rzutu##
#########################
*/

.sheet-rolltemplate-BasicDiceRoll div.sheet-template-container {
	border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;
}
.sheet-rolltemplate-BasicDiceRoll .sheet-template-header {
	background-color: rgba(112, 32, 130,1);
	color: #000;
	padding: 2px;
	border-bottom: 1px solid black;
    text-align: center;
	line-height: 1.6em;
	font-size: 1.2em;
}
.sheet-rolltemplate-BasicDiceRoll div {
	padding: 5px;
	border-bottom: 1px solid black;
}
.sheet-rolltemplate-BasicDiceRoll div:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}
.sheet-rolltemplate-BasicDiceRoll div:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}
.sheet-rolltemplate-BasicDiceRoll .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1);
}
.sheet-rolltemplate-BasicDiceRoll div.sheet-template-row-lost {
	color: rgb(202, 11, 11);
}
.sheet-rolltemplate-BasicDiceRoll div.sheet-template-row-won {
	color: rgb(22, 149, 11);
}



.sheet-rolltemplate-NoFigureDiceRoll div.sheet-template-container {
	border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;
}
.sheet-rolltemplate-NoFigureDiceRoll .sheet-template-header {
	background-color: rgba(112, 32, 130,1);
	color: #000;
	padding: 2px;
	border-bottom: 1px solid black;
    text-align: center;
	line-height: 1.6em;
	font-size: 1.2em;
}
.sheet-rolltemplate-NoFigureDiceRoll div {
	padding: 5px;
	border-bottom: 1px solid black;
}
.sheet-rolltemplate-NoFigureDiceRoll div:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}
.sheet-rolltemplate-NoFigureDiceRoll div:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}
.sheet-rolltemplate-NoFigureDiceRoll .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1);
}
.sheet-rolltemplate-NoFigureDiceRoll div.sheet-template-row-lost {
	color: rgb(202, 11, 11);
}
.sheet-rolltemplate-NoFigureDiceRoll div.sheet-template-row-won {
	color: rgb(22, 149, 11);
}


/*
########################
##Wygląd karty postaci##
########################
*/

/*Strona główna*/
.sheet-main{
	font-family: "Audiowide";
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-width: 900px;
}

.sheet-col{
	border: 5px solid rgb(0, 0, 0);
	max-width: 300px;
}

button.roll_button{
	height: 10px;
	width: 5px;
}

.sheet-main div.sheet-col textarea.extending_desc{
	max-width: 270px;
	justify-self: center;
}


.sheet-main div.sheet-col div.sector{
	border: 2px solid rgb(0, 0, 0);
	display: flex;
	flex-direction:column;
}

.sheet-main div.sheet-col div.sector div.sub_sector{
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-between;
	margin: 5px;
}

div.sheet-main div.sheet-col div.vig_sub_sector{
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-between;
	margin: 5px;
	width:50%;
}

.sheet-main div.sheet-col #Atributes select.vig_select{
	width: 40%;
	text-align: center;
	margin:0;
}

.sheet-main input.input_long{
	width: 65%;
	text-align: center;
}

.sheet-main input.input_short{
	width: 15%;
	text-align: center;
}

.sheet-main select.text_select{
	width: 75%;
	text-align: center;
	margin:0;
}

.sheet-main select.short_select{
	width: 20%;
	text-align: center;
	margin:0;
}

/*Strona ekwipunku*/
.sheet-equipment{
	font-family: "Audiowide";
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 920px;
	min-width: 920px;
}

.sheet-equipment div.sector{
	border: 5px solid rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
}

.sheet-equipment div.sub_sector{
	display: flex;
	flex-direction:row;
	margin: 5px;
}

.sheet-equipment div.sector div.sub_sector input.long_number{
	width: 20%;
	text-align: center;
}

.sheet-equipment div.sector div.sub_sector input.short_number{
	width: 7%;
	text-align: center;
}

.sheet-equipment textarea.big_textfield{
	max-width: 900px;
}
/*Ustawienie wyglądu karty*/
/*Proporcje wymiarów obrazu 19x13*/
div.sheet-weapon-card{
	width: 665px;
	height: 455px;
	display: flex;
	flex-direction:row;
}

div.sheet-weapon-card div.left_part,
div.sheet-weapon-card div.right_part{
	width: 50%;
	display: flex;
	flex-direction: column;
}

div.sheet-weapon-card div.param{
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	margin-left: 5px;
}

div.sheet-weapon-card input.param{
	text-align: center;
	width: 50%;
}

div.sheet-weapon-card input.hidden_input{
	border-style: none;
	background: none;
	text-align: center;
	width: 45%;
	background-color: #ffffff;
}

div.sheet-weapon-card select.sheet-amno-select,
div.sheet-weapon-card select.sheet-quality-select,
div.sheet-weapon-card select.select_type{
	width: 45%;
	text-align: center;
}

div.sheet-weapon-card div.block_mod{
	background-color: #ffffff;
	width:50%;
	height:30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5px;
}

div.sheet-weapon-card div.block_mod input.block_name{
	width:100%;
}

div.sheet-weapon-card div.block_mod textarea.small_ta{
	min-width:100%;
	min-height:80%;
	max-width:100%;
	max-height:80%;
}

/*Kolor amunicji*/
.charsheet div.sheet-weapon-card .sheet-amno-switch[value="-"] ~ select.sheet-amno-select{
	color:#000000;
}

.charsheet div.sheet-weapon-card .sheet-amno-switch[value="kinetic"] ~ select.sheet-amno-select{
	color:#aeaeae;
}

.charsheet div.sheet-weapon-card .sheet-amno-switch[value="special"] ~ select.sheet-amno-select{
	color:#3bff4f;
}

.charsheet div.sheet-weapon-card .sheet-amno-switch[value="heavy"] ~ select.sheet-amno-select{
	color:#b300ff;
}

/*Tło zależne do jakości*/
.sheet-quality-switch[value="-"] ~ div.sheet-weapon-card{
	background-color:#ffffff;
}

.sheet-quality-switch[value="common"] ~ div.sheet-weapon-card{
	background-color:#aeaeae;
	background-image: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/common.png?raw=true);
	background-size: cover;
}

.sheet-quality-switch[value="uncommon"] ~ div.sheet-weapon-card{
	background-color:#20b22e;
	background-image: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/uncommon.png?raw=true);
	background-size: cover;
}

.sheet-quality-switch[value="rare"] ~ div.sheet-weapon-card{
	background-color:#0026ff;
	background-image: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/rare.png?raw=true);
	background-size: cover;
}

.sheet-quality-switch[value="legend"] ~ div.sheet-weapon-card{
	background-color:#d000f9;
	background-image: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/legendary.png?raw=true);
	background-size: cover;
}

.sheet-quality-switch[value="exotic"] ~ div.sheet-weapon-card{
	background-color:#bbd400;
	background-image: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/exotic.png?raw=true);
	background-size: cover;
}

/*Strona szczegółów*/
.sheet-details{
	font-family: "Audiowide";
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 920px;
	min-width: 920px;
}

.sheet-details div.sector{
	border: 5px solid rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
}

.sheet-details div.sub_sector{
	display: flex;
	flex-direction:column;
	margin: 5px;
}

.sheet-details div.sub_sector textarea{
	max-width: 890px;
}

.sheet-details div.sub_sector #tx_desc,
.sheet-details div.sub_sector #tx_hist{
	height: 200px;
	max-height: 300px;
}

.sheet-details div.sub_sector #tx_res{
	height: 20px;
	max-height: 100px;
}

.sheet-details #sec_two_part{
	flex-direction: row;
}

.sheet-details div.sector #sec_notes{
	border: none;
	border-right: 5px solid rgb(0, 0, 0);
	width: 600px;
}

.sheet-details div.sector #sec_notes textarea{
	max-width: 580px;
	min-height: 500px;
}

.sheet-details div.sector #sec_ghost{
	border: none;
	width: 290px;
}

.sheet-details div.sector #sec_ghost div.sub_sector{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.sheet-details div.sector #sec_ghost div.center_sub_sector{
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}

.sheet-details div.sector #sec_ghost input.short_input{
	width: 25%;
}

.sheet-details div.sector #sec_ghost select.short_select{
	width: 20%;
	text-align: center;
	margin:0;
}

.sheet-details div.sector #sec_ghost textarea{
	max-width: 280px;
}