@import url('https://fonts.googleapis.com/css?family=Audiowide');

/* Wygląd szablonu rzutu*/
.sheet-rolltemplate-BasicDiceRoll div.sheet-template-container {
	border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;
}
.sheet-rolltemplate-BasicDiceRoll .sheet-template-header {
	background-color: rgba(112, 32, 130,1);
	color: #000;
	padding: 2px;
	border-bottom: 1px solid black;
    text-align: center;
	line-height: 1.6em;
	font-size: 1.2em;
}
.sheet-rolltemplate-BasicDiceRoll div {
	padding: 5px;
	border-bottom: 1px solid black;
}
.sheet-rolltemplate-BasicDiceRoll div:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}
.sheet-rolltemplate-BasicDiceRoll div:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}
.sheet-rolltemplate-BasicDiceRoll .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1);
}
.sheet-rolltemplate-BasicDiceRoll div.sheet-template-row-lost {
	color: rgb(202, 11, 11);
}
.sheet-rolltemplate-BasicDiceRoll div.sheet-template-row-won {
	color: rgb(22, 149, 11);
}

/*Wygląd karty postaci*/
.sheet-3colrow{
	font-family: "Audiowide";
}
.sheet-3colrow div.sheet-col{
	border: 5px solid rgb(0, 0, 0);
}

.sheet-3colrow div.sheet-col div{
	border: 2px solid rgb(0, 0, 0);
}

.sheet-3colrow input.input_long{
	width: 50%;
	text-align: center;
}

.sheet-3colrow input.input_short{
	width: 15%;
	text-align: center;
}

.sheet-3colrow select.text_select{
	width: 50%;
	text-align: center;
}

.sheet-3colrow select.short_select{
	width: 20%;
	text-align: center;
}

.sheet-3colrow div.sheet-col #Skills select{
	width: 20%;
	text-align: center;
	font-size: smaller;
}

.sheet-3colrow div.sheet-col #Skills{
	font-size: smaller;
}


.sheet-3colrow div.sheet-col #Atributes select{
	width: 20%;
	text-align: center;
}

.sheet-3colrow div.sheet-col #Skills button{
	/*width: 5%;*/
}