@import url('https://fonts.googleapis.com/css?family=Audiowide');

/*
#####################
##Przełączanie kart##
#####################
*/

.charsheet .sheet-main,
.charsheet .sheet-equipment,
.charsheet .sheet-details{
    display: none;
}

.charsheet .sheet-tabstoggle[value="main"] ~ div.sheet-main,
.charsheet .sheet-tabstoggle[value="equipment"] ~ div.sheet-equipment,
.charsheet .sheet-tabstoggle[value="details"] ~ div.sheet-details{
    display: block;
}

/*
#########################
##Wygląd szablonu rzutu##
#########################
*/

/*Podstawowy test*/
.sheet-rolltemplate-BasicDiceRoll div.sheet-template-container {
	border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;
}
.sheet-rolltemplate-BasicDiceRoll .sheet-template-header {
	background-color: rgba(112, 32, 130,1);
	color: #000;
	padding: 2px;
	border-bottom: 1px solid black;
    text-align: center;
	line-height: 1.6em;
	font-size: 1.2em;
}
.sheet-rolltemplate-BasicDiceRoll div {
	padding: 5px;
	border-bottom: 1px solid black;
}
.sheet-rolltemplate-BasicDiceRoll div:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}
.sheet-rolltemplate-BasicDiceRoll div:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}
.sheet-rolltemplate-BasicDiceRoll .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1);
}
.sheet-rolltemplate-BasicDiceRoll div.sheet-template-row-lost {
	color: rgb(202, 11, 11);
}
.sheet-rolltemplate-BasicDiceRoll div.sheet-template-row-won {
	color: rgb(22, 149, 11);
}

/*Test bez kości figury*/
.sheet-rolltemplate-NoFigureDiceRoll div.sheet-template-container {
	border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;
}
.sheet-rolltemplate-NoFigureDiceRoll .sheet-template-header {
	background-color: rgba(112, 32, 130,1);
	color: #000;
	padding: 2px;
	border-bottom: 1px solid black;
    text-align: center;
	line-height: 1.6em;
	font-size: 1.2em;
}
.sheet-rolltemplate-NoFigureDiceRoll div {
	padding: 5px;
	border-bottom: 1px solid black;
}
.sheet-rolltemplate-NoFigureDiceRoll div:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}
.sheet-rolltemplate-NoFigureDiceRoll div:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}
.sheet-rolltemplate-NoFigureDiceRoll .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1);
}
.sheet-rolltemplate-NoFigureDiceRoll div.sheet-template-row-lost {
	color: rgb(202, 11, 11);
}
.sheet-rolltemplate-NoFigureDiceRoll div.sheet-template-row-won {
	color: rgb(22, 149, 11);
}

/*Szablon ataku*/
.sheet-rolltemplate-Attack div.sheet-template-container {
	border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;
}
.sheet-rolltemplate-Attack .sheet-template-header {
	background-color: rgba(112, 32, 130,1);
	color: #000;
	padding: 2px;
	border-bottom: 1px solid black;
    text-align: center;
	line-height: 1.6em;
	font-size: 1.2em;
}
.sheet-rolltemplate-Attack div {
	padding: 5px;
	border-bottom: 1px solid black;
}
.sheet-rolltemplate-Attack div:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}
.sheet-rolltemplate-Attack div:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}
.sheet-rolltemplate-Attack .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1);
}
.sheet-rolltemplate-Attack div.sheet-template-row-lost h3{
	color: rgb(202, 11, 11);
	font-size: large;
}
.sheet-rolltemplate-Attack div.sheet-template-row-won h3{
	color: rgb(22, 149, 11);
	font-size: large;
}

/*
########################
##Wygląd karty postaci##
########################
*/

/*Strona główna*/
.sheet-main{
	font-family: "Audiowide";
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-width: 900px;
}

.sheet-col{
	border: 5px solid rgb(0, 0, 0);
	max-width: 300px;
}

button.roll_button{
	height: 10px;
	width: 5px;
}

.sheet-main div.sheet-col textarea.extending_desc{
	max-width: 270px;
	justify-self: center;
}


.sheet-main div.sheet-col div.sector{
	border: 2px solid rgb(0, 0, 0);
	display: flex;
	flex-direction:column;
}

.sheet-main div.sheet-col div.sector div.sub_sector{
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-between;
	margin: 5px;
}

div.sheet-main div.sheet-col div.vig_sub_sector{
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-between;
	margin: 5px;
	width:50%;
}

.sheet-main div.sheet-col #Atributes select.vig_select{
	width: 40%;
	text-align: center;
	margin:0;
}

.sheet-main input.input_long{
	width: 65%;
	text-align: center;
}

.sheet-main input.input_short{
	width: 15%;
	text-align: center;
}

.sheet-main select.text_select{
	width: 75%;
	text-align: center;
	margin:0;
}

.sheet-main select.short_select{
	width: 20%;
	text-align: center;
	margin:0;
}

/*Strona ekwipunku*/
.sheet-equipment{
	font-family: "Audiowide";
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 920px;
	min-width: 920px;
}

.sheet-equipment div.sector{
	border: 5px solid rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
}

.sheet-equipment div.sub_sector{
	display: flex;
	flex-direction:row;
	margin: 5px;
}

.sheet-equipment div.sector div.sub_sector input.long_number{
	width: 20%;
	text-align: center;
}

.sheet-equipment div.sector div.sub_sector input.short_number{
	width: 7%;
	text-align: center;
}

.sheet-equipment textarea.big_textfield{
	max-width: 900px;
}

.sheet-equipment #cards{
	display: flex;
	flex-direction:row;
}


.sheet-equipment #cards #In_hand,
.sheet-equipment #cards #Out_hand{
	width:50%;
}


/*Ustawienie wyglądu karty*/
/*Proporcje wymiarów obrazu 19x13*/
div.sheet-weapon-card,div.sheet-armor-card{
	width: 450px;
	height: 308px;
	display: flex;
	flex-direction:row;
}

div.sheet-weapon-card div.left_part,
div.sheet-armor-card div.left_part{
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 3px;
	justify-content: space-evenly;
	height: 100%;
}

div.sheet-weapon-card div.right_part,
div.sheet-armor-card div.right_part{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 3px;
}

div.sheet-weapon-card div.param,
div.sheet-armor-card div.param{
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 7%;
}

div.sheet-weapon-card input.param,
div.sheet-armor-card input.param{
	text-align: center;
	width: 50%;
	height:100%;
	font-size:x-small;
}

div.sheet-weapon-card input.param_long,
div.sheet-armor-card input.param_long{
	text-align: center;
	width: 75%;
	height:100%;
	font-size:x-small;
}

div.sheet-weapon-card div.param select.select_param,
div.sheet-armor-card div.param select.select_param{
	height: 100%;
	font-size:x-small;
}

div.sheet-weapon-card input.readonly_input,
div.sheet-armor-card input.readonly_input{
	border-style: none;
	background: none;
	text-align: center;
	width: 45%;
	height:100%;
	background-color: #ffffff;
	font-size:x-small;
}

div.sheet-weapon-card select.sheet-amno-select,
div.sheet-weapon-card select.sheet-quality-select,
div.sheet-weapon-card select.select_type,

div.sheet-armor-card select{
	width: 45%;
	height:100%;
	text-align: center;
	font-size:x-small;
}

div.sheet-weapon-card select.select_long,
div.sheet-armor-card select.select_long{
	width: 70%;
	height:100%;
	text-align: center;
	font-size:x-small;
}

div.sheet-weapon-card div.image_div img.icon-energy,
div.sheet-armor-card div.image_div img.icon-armor-part{
	background-color: #ffffff;
	height: 100%;
	width: 28%;
	margin: 5px;
}

div.sheet-weapon-card div.image_div,
div.sheet-armor-card div.image_div{
	display: flex;
	justify-self: center;
	flex-direction: row-reverse;
	height:20%;
	width: 100%;
	
}

div.sheet-weapon-card div.block_mod_1,
div.sheet-weapon-card div.block_mod_2,

div.sheet-armor-card div.block_mod_1,
div.sheet-armor-card div.block_mod_2{
	background-color: #ffffff;
	width:75%;
	height:30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5px;
}

div.sheet-weapon-card div.block_mod_1 input.block_name,
div.sheet-weapon-card div.block_mod_2 input.block_name,

div.sheet-armor-card div.block_mod_1 input.block_name,
div.sheet-armor-card div.block_mod_2 input.block_name{
	width:100%;
	height:19%;
	font-size:x-small;
}

div.sheet-weapon-card div.block_mod_1 textarea.small_ta,
div.sheet-weapon-card div.block_mod_2 textarea.small_ta,

div.sheet-armor-card div.block_mod_1 textarea.small_ta,
div.sheet-armor-card div.block_mod_2 textarea.small_ta{
	min-width:100%;
	min-height:80%;
	max-width:100%;
	max-height:80%;
	font-size:x-small;
}

/*Kolor amunicji*/
.sheet-weapon-card .sheet-amno-switch[value="-"] ~ select.sheet-amno-select{
	color:#000000;
}

.sheet-weapon-card .sheet-amno-switch[value="kinetic_amno"] ~ select.sheet-amno-select{
	color:#aeaeae;
}

.sheet-weapon-card .sheet-amno-switch[value="special_amno"] ~ select.sheet-amno-select{
	color:#3bff4f;
}

.sheet-weapon-card .sheet-amno-switch[value="heavy_amno"] ~ select.sheet-amno-select{
	color:#b300ff;
}

/*Tło zależne do jakości*/
.sheet-weapon-quality-switch[value="-"] ~ div.sheet-weapon-card,
.sheet-armor-quality-switch[value="-"] ~ div.sheet-armor-card{
	background-color:#ffffff;
}

.sheet-weapon-quality-switch[value="common"] ~ div.sheet-weapon-card,
.sheet-armor-quality-switch[value="common"] ~ div.sheet-armor-card{
	background-color:#aeaeae;
	background-image: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/common.png?raw=true);
	background-size: cover;
}

.sheet-weapon-quality-switch[value="uncommon"] ~ div.sheet-weapon-card,
.sheet-armor-quality-switch[value="uncommon"] ~ div.sheet-armor-card{
	background-color:#20b22e;
	background-image: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/uncommon.png?raw=true);
	background-size: cover;
}

.sheet-weapon-quality-switch[value="rare"] ~ div.sheet-weapon-card,
.sheet-armor-quality-switch[value="rare"] ~ div.sheet-armor-card{
	background-color:#0026ff;
	background-image: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/rare.png?raw=true);
	background-size: cover;
}

.sheet-weapon-quality-switch[value="legend"] ~ div.sheet-weapon-card,
.sheet-armor-quality-switch[value="legend"] ~ div.sheet-armor-card{
	background-color:#d000f9;
	background-image: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/legendary.png?raw=true);
	background-size: cover;
}

.sheet-weapon-quality-switch[value="exotic"] ~ div.sheet-weapon-card,
.sheet-armor-quality-switch[value="exotic"] ~ div.sheet-armor-card{
	background-color:#bbd400;
	background-image: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/exotic.png?raw=true);
	background-size: cover;
}

/*Symbol energi obrażeń*/
.sheet-energy-switch[value="kinetic"] ~ div.image_div img.icon-energy{
	content: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/kinetyczne.webp?raw=true);
	object-fit: cover;
}

.sheet-energy-switch[value="arc"] ~ div.image_div img.icon-energy{
	content: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/arc.png?raw=true);
	object-fit: cover;
}

.sheet-energy-switch[value="void"] ~ div.image_div img.icon-energy{
	content: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/pr%C3%B3%C5%BCnia.png?raw=true);
	object-fit: cover;
}

.sheet-energy-switch[value="solar"] ~ div.image_div img.icon-energy{
	content: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/solar.png?raw=true);
	object-fit: cover;
}

/*Symbol części pancerza*/
.sheet-armor-switch[value="legs"] ~ div.image_div img.icon-armor-part{
	content: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/Buty.png?raw=true);
	object-fit: cover;
}

.sheet-armor-switch[value="hands"] ~ div.image_div img.icon-armor-part{
	content: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/Rekawice.png?raw=true);
	object-fit: cover;
}

.sheet-armor-switch[value="body"] ~ div.image_div img.icon-armor-part{
	content: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/Klata.png?raw=true);
	object-fit: cover;
}

.sheet-armor-switch[value="head"] ~ div.image_div img.icon-armor-part{
	content: url(https://github.com/SzymonRogozinski/Karta-postaci-do-Destiny-RPG/blob/master/obrazy/Helm.png?raw=true);
	object-fit: cover;
}

/*Liczba modyfikacji*/
div.sheet-weapon-card div.block_mod_1,
div.sheet-weapon-card div.block_mod_2,

div.sheet-armor-card div.block_mod_1,
div.sheet-armor-card div.block_mod_2{
	display:none;
}

.sheet-block-mod-switch[value="rare"] ~ div.block_mod_1,
.sheet-block-mod-switch[value="legend"] ~ div.block_mod_1,
.sheet-block-mod-switch[value="exotic"] ~ div.block_mod_1,

.sheet-block-mod-switch[value="rare"] ~ div.sheet-armor-card,
.sheet-block-mod-switch[value="legend"] ~ div.sheet-armor-card,
.sheet-block-mod-switch[value="exotic"] ~ div.sheet-armor-card{
	display:block;
}

.sheet-block-mod-switch[value="legend"] ~ div.block_mod_2,
.sheet-block-mod-switch[value="exotic"] ~ div.block_mod_2,
.sheet-block-mod-switch[value="legend"] ~ div.sheet-armor-card,
.sheet-block-mod-switch[value="exotic"] ~ div.sheet-armor-card{
	display:block;
}

/*Strona szczegółów*/
.sheet-details{
	font-family: "Audiowide";
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 920px;
	min-width: 920px;
}

.sheet-details div.sector{
	border: 5px solid rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
}

.sheet-details div.sub_sector{
	display: flex;
	flex-direction:column;
	margin: 5px;
}

.sheet-details div.sub_sector textarea{
	max-width: 890px;
}

.sheet-details div.sub_sector #tx_desc,
.sheet-details div.sub_sector #tx_hist{
	height: 200px;
	max-height: 300px;
}

.sheet-details div.sub_sector #tx_res{
	height: 20px;
	max-height: 100px;
}

.sheet-details #sec_two_part{
	flex-direction: row;
}

.sheet-details div.sector #sec_notes{
	border: none;
	border-right: 5px solid rgb(0, 0, 0);
	width: 600px;
}

.sheet-details div.sector #sec_notes textarea{
	max-width: 580px;
	min-height: 500px;
}

.sheet-details div.sector #sec_ghost{
	border: none;
	width: 290px;
}

.sheet-details div.sector #sec_ghost div.sub_sector{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.sheet-details div.sector #sec_ghost div.center_sub_sector{
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}

.sheet-details div.sector #sec_ghost input.short_input{
	width: 25%;
}

.sheet-details div.sector #sec_ghost select.short_select{
	width: 20%;
	text-align: center;
	margin:0;
}

.sheet-details div.sector #sec_ghost textarea{
	max-width: 280px;
}